/*Anmation & Hover*/

/*About Button Animation Border*/
.about__button:hover {
}

/*About Section Social Icon Hover | start*/
.show__social li a .fab {
    transition: opacity 100ms ease-in;
    /*transition hover animation*/:;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -ms-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
}

.show__social li a .fab:hover {
    opacity: 1;
}

/*About Section Social Icon Hover | end*/

/*Works Done List Navigation Item Hover | start*/

.worksdone__categorynav li {
    transition: color 300ms ease-in;/*transition hover animation*/
    cursor: pointer;
}

.worksdone__categorynav li:hover{
    color: #202072;
}

/*Works Done List Navigation Item Hover | end*/

/*Works Done Figure Hover | start*/
.worksdone__figure img {
    transition: opacity 56ms ease-in;
}

.worksdone__figure figcaption {
    transition: transform .3s ease-in;
}

.worksdone__figure:hover figcaption{
    visibility: visible;
    transform: translateX(0);

}
.worksdone__figure:hover img {
    opacity: .5;   
}
/*Works Done Figure Hover | end*/

/*Start Testi monial slider*/
.testimonial__slider span{
    transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    -moz-transition: all .05s ease-in;
    -ms-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
}


.testimonial__slider span:hover{
    background-color: #373592e3;
}